AntiClimacus/BusinessLayer/obj/Debug/netcoreapp2.0/BusinessLayer.csprojAssemblyReference.cache
AntiClimacus/AntiClimacus/obj/Debug/netcoreapp2.0/AntiClimacus.csprojAssemblyReference.cache
AntiClimacus/.vs/AntiClimacus/v15/Server/sqlite3/storage.ide-wal
AntiClimacus/.vs/AntiClimacus/v15/Server/sqlite3/storage.ide-shm
AntiClimacus/.vs/AntiClimacus/v15/Server/sqlite3/storage.ide
