
  <!-- <div class="add-button">
    <button mat-button (click)="openDialog()">Add Medic</button>
  </div> -->
  <button mat-button [routerLink]="['distribution']" style="background-color:#a319be;;color:white;display: inline-block;">Distribution of the blood</button>

  <br>

  <div class="container mat-elevation-z8">
    <div class="header">
      <mat-input-container floatPlaceholder="never">
        <input matInput #filter placeholder="Filter donors">
      </mat-input-container>
    </div>
    <mat-table #table [dataSource]="dataSource" matSort>

      <ng-container cdkColumnDef="firstName">
        <mat-header-cell *cdkHeaderCellDef mat-sort-header> First Name </mat-header-cell>
        <mat-cell *cdkCellDef="let row"> {{row.user.firstName}} </mat-cell>
      </ng-container>

      <ng-container cdkColumnDef="lastName">
        <mat-header-cell *cdkHeaderCellDef mat-sort-header> Last Name </mat-header-cell>
        <mat-cell *cdkCellDef="let row"> {{row.user.lastName}} </mat-cell>
      </ng-container>

      <ng-container cdkColumnDef="county">
        <mat-header-cell *cdkHeaderCellDef mat-sort-header> County </mat-header-cell>
        <mat-cell *cdkCellDef="let row"> {{row.address.county}} </mat-cell>
      </ng-container>

      <ng-container cdkColumnDef="city">
        <mat-header-cell *cdkHeaderCellDef mat-sort-header> City </mat-header-cell>
        <mat-cell *cdkCellDef="let row"> {{row.address.city}} </mat-cell>
      </ng-container>

      <ng-container cdkColumnDef="phone">
        <mat-header-cell *cdkHeaderCellDef mat-sort-header> Phone </mat-header-cell>
        <mat-cell *cdkCellDef="let row"> {{row.phone}} </mat-cell>
      </ng-container>

      <ng-container cdkColumnDef="date">
        <mat-header-cell *cdkHeaderCellDef mat-sort-header> Date </mat-header-cell>
        <mat-cell *cdkCellDef="let row"> {{dateToString(row.donationRequest.date)}} </mat-cell>
      </ng-container>


      <ng-container cdkColumnDef="bloodType">
        <mat-header-cell *cdkHeaderCellDef mat-sort-header> Blood Type </mat-header-cell>
        <mat-cell *cdkCellDef="let row"> {{row.donorData.bloodType.name}} </mat-cell>
      </ng-container>


      <ng-container cdkColumnDef="actions">
        <mat-header-cell *cdkHeaderCellDef >Actions</mat-header-cell>
        <mat-cell *cdkCellDef="let row">
          <button mat-button  *ngIf = "row.donationRequest.status.id==1" (click)="eligibilityDialog(row.id)" style="background-color:#a319be;color:white;display: inline-block;">Resolve eligibility</button>
          <button mat-button *ngIf = "row.donationRequest.status.id==2" (click)="donationDialog(row.id)" style="background-color:#a319be;color:white;display: inline-block;">Complete Donation</button>
          <button mat-button *ngIf = "row.donationRequest.status.id==3" (click)="donationDialog(row.id)" style="background-color:#a319be;color:white;display: inline-block;">Prepare transfustion</button>
          <div *ngIf = "row.donationRequest.status.id==5" >Not eligible for donation</div>
        </mat-cell>
      </ng-container>


      <mat-header-row *cdkHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *cdkRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
    <mat-paginator #paginator [length]="dataSource.filterLength" [pageIndex]="0" [pageSize]="25" [pageSizeOptions]="[5, 10, 25, 100]">
    </mat-paginator>
  </div>